
<div class = "complete-table">
    <table class="table table-striped" id = "table-transaction">
        <thead>
            <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Transaction Date</th>
            <th scope="col">Transaction with</th>
            <th scope="col">Transaction Amount</th>
            <th scope="col">CR/DB</th>
            <th scope="col">Amount in accnt.</th>
            <th scope="col">ID</th>
            </tr>
        </thead>

        {% for transaction in transactions %}
        <!-- <tbody> -->
            <tr>
                <td class="trans_date">{{transaction.date|date}}</td>
                <td>{{transaction.other}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{transaction.direction}}</td>
                <td class="trans_amount">{{transaction.amount_accnt}}</td>
                <td>{{transaction.transactionID}}</td>
            </tr>
        <!-- </tbody> -->
        {% endfor %}
        
    </table>
    <div class = "paginator">
        {% if transactions.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if transactions.has_previous %}
            <li class="page-item">
                <a class="page-link" href="#" onclick="getTransaction({{ transactions.previous_page_number }})" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
            {% else %}
            <li class="disabled">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}
            <!-- {% for i in transactions.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="#" onclick="getTransaction({{ i }})">{{i}}</a></li>
            {% endfor %} -->

            {% if transactions.has_next %}
            <li class="page-item">
                <a class="page-link" href="#" onclick="getTransaction({{ transactions.next_page_number }})" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                </a>
            </li>
            {% else %}
            <li class="disabled">
                <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
