{% extends "expensius/base.html" %} 

{% load static %}
{% block content %}
{% load crispy_forms_tags %}
 <!-- load jquery  -->
 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        
 <!-- load bootstrap CDN -->
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 <!-- Ajax Jquery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 

 <style>

    body {
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        background: #fd746c;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

     .box{
        text-align: center;
        z-index: 0;
        margin: 0 10px 0 10px;
        box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.15);
    }

    .box:hover{
        box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.2);
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
        -webkit-transition: transform 0.2s ease-in-out;
    }

    .img-front{
            width: 75%;
            height: 75%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

    .floating{
        animation: 1.5s infinite beatHeart;
    }
        @keyframes beatHeart {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }
    .login-form{
        max-height: 700px;
    }

    .navbar-brand{
        color: #fa392e !important;
        font-weight: bolder !important;
    }

    .nav-link{
        color: #fa392e !important;
    }

    .subtext{
        text-align: center;
        color: aliceblue;
    }

 </style>

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Expensius</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-black">
                    <a class="nav-link text-black font-weight-bold" href="{% url 'about' %}">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>

<div class="row justify-content-center fluid-resposive">
    <div class = "col-md-7 col-xs-0 floating">
        <img class="img-front " src="{% static 'images/money.png' %}" alt="First slide">
        <p class = "subtext ">Track and monitor your money and savings!</p>

    </div>

    <div class="card login-form col-md-3 col-xs-10 col-offset-2 box">
        <br>
        <h2>Register</h2>
        <br>
        <form method="post">
            {% csrf_token %}
            {{forms|crispy}}
            
            <button class = "btn btn-primary" type="submit">Register</button>
            <br>
            <br>
            <a href = "{% url 'login' %}">Aldready have an account? Log in instead</a>
            
        </form>
        <br>
        <!-- <p><strong>-- OR --</strong></p>
        <a class = "btn btn-outlinne" href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br> -->
          
    </div>
</div>

{% endblock %}